<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjsyoung.iteach.mapper.EntertainmentFuseImageMapper">
  <resultMap id="BaseResultMap" type="com.gjsyoung.iteach.domain.EntertainmentFuseImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="topsize" jdbcType="INTEGER" property="topsize" />
    <result column="leftsize" jdbcType="INTEGER" property="leftsize" />
    <result column="widthsize" jdbcType="INTEGER" property="widthsize" />
    <result column="heightsize" jdbcType="INTEGER" property="heightsize" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, image, status, createTime, topsize, leftsize, widthsize, heightsize
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from entertainmentfuseimage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from entertainmentfuseimage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjsyoung.iteach.domain.EntertainmentFuseImage">
    insert into entertainmentfuseimage (id, name, image, 
      status, createTime, topsize, 
      leftsize, widthsize, heightsize
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{topsize,jdbcType=INTEGER}, 
      #{leftsize,jdbcType=INTEGER}, #{widthsize,jdbcType=INTEGER}, #{heightsize,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gjsyoung.iteach.domain.EntertainmentFuseImage">
    insert into entertainmentfuseimage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="topsize != null">
        topsize,
      </if>
      <if test="leftsize != null">
        leftsize,
      </if>
      <if test="widthsize != null">
        widthsize,
      </if>
      <if test="heightsize != null">
        heightsize,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="topsize != null">
        #{topsize,jdbcType=INTEGER},
      </if>
      <if test="leftsize != null">
        #{leftsize,jdbcType=INTEGER},
      </if>
      <if test="widthsize != null">
        #{widthsize,jdbcType=INTEGER},
      </if>
      <if test="heightsize != null">
        #{heightsize,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjsyoung.iteach.domain.EntertainmentFuseImage">
    update entertainmentfuseimage
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="topsize != null">
        topsize = #{topsize,jdbcType=INTEGER},
      </if>
      <if test="leftsize != null">
        leftsize = #{leftsize,jdbcType=INTEGER},
      </if>
      <if test="widthsize != null">
        widthsize = #{widthsize,jdbcType=INTEGER},
      </if>
      <if test="heightsize != null">
        heightsize = #{heightsize,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjsyoung.iteach.domain.EntertainmentFuseImage">
    update entertainmentfuseimage
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      topsize = #{topsize,jdbcType=INTEGER},
      leftsize = #{leftsize,jdbcType=INTEGER},
      widthsize = #{widthsize,jdbcType=INTEGER},
      heightsize = #{heightsize,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from entertainmentfuseimage
    where status = #{status,jdbcType=INTEGER}
  </select>
</mapper>